<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>{{ productRequest.name }}</mat-card-title>
	</mat-card-header>
	<img
		mat-card-image
		[src]="productRequest.images[currentPictureIndexOnCard].url"
		[alt]="productRequest.images[currentPictureIndexOnCard].source"
	/>
	<app-pagination
		[pictureLength]="productRequest.images.length"
		(currentPictureIndex)="onPictureIndexChanged($event)"
	></app-pagination>
	<mat-card-content></mat-card-content>
	<mat-card-actions>
		<button mat-button>BUY</button>
	</mat-card-actions>
</mat-card>
