.example-card {
	max-width: 400px;
	margin: 20px 40px;
}

.example-header-image {
	background-image: url('https://www.pngkit.com/png/full/246-2469150_devices-png-mobile-device-icon-png.png');
	background-size: cover;
}

.mdc-card__actions {
	justify-content: space-evenly;
}
