.example-card {
	max-width: 400px;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}

.card-actions {
	display: flex;
	justify-content: space-between;
}

.price-content {
	color: blue;
	font-size: large;
}
