<mat-card class="example-card">
	<mat-card-header>
		<img
			mat-card-avatar
			class="example-header-image"
			[src]="productInfo.images[0]?.url"
			alt="ava"
		/>
		<mat-card-title>{{ productInfo?.name }}</mat-card-title>
	</mat-card-header>
	<img
		mat-card-image
		[src]="productInfo.images[0]?.url"
		alt="{{ productInfo.name }}"
	/>
	<mat-card-content>
		<p>
			{{ productInfo.price | currency }}
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button (click)="buy($event)">Купить</button>
	</mat-card-actions>
</mat-card>
