* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:host.hidden {
	display: none;
}

:host.showed {
	height: 100%;
	width: 100%;
	position: fixed;
	align-items: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.6);
}

.popup {
	margin: auto;
	margin-top: 25%;
	display: flex;
	position: relative;
	cursor: pointer;
	align-items: center;
	width: 500px;
	height: 200px;

	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
	justify-content: center;
	border-radius: 6px;
}
