<app-header
	[applicationConfig]="applicationConfig"
	(menuClick)="sidenav.toggleSidenavOpened()"
></app-header>
<app-sidenav #sidenav>
	<div #div>
		<input #inputElement />
	</div>
	<h1>Это продукт</h1>

	<ng-container ngProjectAs="sidenav">
		<h2 ngProjectAs="title">{{ applicationConfig.title }}</h2>
		<mat-list role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
	</ng-container>

	<!-- <ng-template #navigationTemplate>
		<h2>{{applicationConfig.title}}</h2>
		<mat-list role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
	</ng-template> -->
</app-sidenav>

<!-- <app-popup-host [template]="needViewPopup ? template : undefined"></app-popup-host> -->

<ng-template #template>
	<h1>Win!</h1>
</ng-template>
