<app-header
	[applicationConfig]="applicationConfig"
	(click)="onClick($event)"
	(menuClick)="toggleSidenavOpened()"
></app-header>
<!-- <app-sidenav
    [isOpened]="isSidenavOpened"
    (isOpenedChange)="isSidenavOpened = $event"
></app-sidenav> -->
<app-sidenav [(isOpened)]="isSidenavOpened"></app-sidenav>
<!-- HeaderComponent.menuClick.subscribe(value => {
    cb(value);
}) -->

<!-- <input (keydown.enter)="log($event)">

<h1>Application works</h1>
<p>{{this.title}}</p>
<p>{{title}}</p>
<p>{{window}}</p> -->
