.modal-wrapper {
    display: flex;
	align-items: center;
	justify-content: center;
    width: 400px;
    height: 200px;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
}

.modal-container{
    display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(68, 68, 68, 0.74);
    z-index: 999;
}