:host.hidden {
	display: none;
}

:host.overlay {
	background-color: rgba(0, 0, 0, 0.6);

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999999;

	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	background-color: lightgray;
	width: 600px;
	height: 300px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px;

	display: flex;
	align-items: center;
	justify-content: center;
}
