<div
	*ngIf="
		getProducts() as productFtomTemplate;
		else loaderTemplateRef;
		let productFtomImplicit
	"
	appScrollWithLoading
	class="scroll-container"
	(loadData)="onLoadData($event)"
>
	<ng-container
		*appPagination="
			let productGroup of productFtomTemplate;
			countProductOnPage: 4;
			let pageCount = pageCount;
			let next = next;
			let prev = prev;
			let onClickPageNumber = onClickPageNumber
		"
	>
		<app-card
			*ngFor="let product of productGroup"
			class="card"
			[product]="product"
		>
		</app-card>
		<div class="pagination-container">
			<button (click)="prev()">Prev</button>
			<button
				*ngFor="let index of pageCount"
				(click)="onClickPageNumber($event)"
			>
				{{ index + 1 }}
			</button>
			<button (click)="next()">Next</button>
		</div>
	</ng-container>
</div>

<ng-template #loaderTemplateRef>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
