<div
	*ngIf="
		getProducts() as productFromTemplate;
		else loaderTemplateRef;
		let productFtomImplicit
	"
	appScrollWithLoading
	class="scroll-container"
	(loadData)="onLoadData($event)"
>
	<ng-container
		*appPagination="
			let products of productFromTemplate;
			count: 4;
			let curIndex = index;
			let pageIndexes = pageIndexes;
			let selectedIndex = selectedIndex;
			let next = next;
			let previous = previous
		"
	>
		<div class="cards-container">
			<app-card
				*ngFor="let product of products; trackBy: trackById"
				class="card"
				[product]="product"
			></app-card>
		</div>

		<div class="pagination-container">
			<button mat-icon-button (click)="previous()">
				<mat-icon> chevron_left </mat-icon>
			</button>
			<div>
				<div class="page-numbers">
					<button
						*ngFor="let index of pageIndexes"
						mat-icon-button
						[class.page-number_active]="curIndex === index"
						(click)="selectedIndex(index)"
					>
						{{ index + 1 }}
					</button>
				</div>
			</div>
			<button mat-icon-button (click)="next()">
				<mat-icon> chevron_right </mat-icon>
			</button>
		</div>
	</ng-container>
</div>

<ng-template #loaderTemplateRef>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
