<ng-template
	let-productFtomTemplate="ngIf"
	[ngIf]="getProducts()"
	[ngIfElse]="loaderTemplateRef"
>
	<div
		appScrollWithLoading
		class="scroll-container"
		(loadData)="onLoadData($event)"
	>
		<app-card
			#card
			class="card"
			[product]="productFtomTemplate[0]"
		></app-card>
		<app-card
			#card
			class="card"
			[product]="productFtomTemplate[1]"
		></app-card>
		<app-card
			#card
			class="card"
			[product]="productFtomTemplate[2]"
		></app-card>
		<app-card
			#card
			class="card"
			[product]="productFtomTemplate[3]"
		></app-card>
		<app-card
			#card
			class="card"
			[product]="productFtomTemplate[4]"
		></app-card>
	</div>
</ng-template>

<ng-template #loaderTemplateRef>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
